.container {
    display: flex;
    width: 49px;
    height: 24px;
    border: 1.5px solid rgba(118, 37, 223, 0.951);
    border-radius: 30px;
    cursor: pointer;
    align-items: center;
    position: relative;
    justify-content: space-between;
    padding: 2px;
}
.icon {
    font-size: 16px;
}
.ball {
    width: 20px;
    height: 20px;
    background-color: rgba(118, 37, 223, 0.951);
        border-radius: 50%;
        position: absolute;
}


