.container {
    display: flex;
    align-items: center;
    gap: 50;
    margin-bottom: 50px;
}

.image {
    object-fit: cover;
}
.content {

}
.title {
    margin-bottom: 10px;
}
.title {
    margin-bottom: 10px;
}
.desc {
    font-size: 18px;
    color: grey;
}